<div class="container_reset">
  <div class="imagem">
    <img src="../../../../assets/Styles/img/undraw_my-password_iyga.svg" />
  </div>

  <div class="form-container">
    <h1 class="titulo">Redefinir Senha</h1>
    <h3 class="subtitulo">Preencha com a sua nova senha!</h3>

    <form
      (ngSubmit)="submit()"
      [formGroup]="formResetarSenha"
      #formDir="ngForm"
    >
      <div class="formulario">
        
        <div class="form-group">
          <label for="password">Nova Password:</label><br />
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="********"
            required
          />
        </div>

        <div class="form-group">
          <label for="passwordConfirm">Confirme a sua nova password:</label><br />
          <input
            type="password"
            id="passwordConfirm"
            formControlName="passwordConfirm"
            placeholder="********"
            required
          />
        </div>


        <div
          *ngIf="formDir.submitted && formResetarSenha.errors?.['match']"
          class="erro-validacao"
        >
          <p>As senhas não conferem</p>
        </div>

        <div
          *ngIf="password.invalid && formDir.submitted"
          class="erro-validacao"
        >
          <p *ngIf="password.errors?.['required']">Informe uma senha</p>
        </div>

        <div
          *ngIf="passwordConfirm.invalid && formDir.submitted"
          class="erro-validacao"
        >
          <p *ngIf="passwordConfirm.errors?.['required']">Confirme sua senha</p>
        </div>

        <button type="submit" class="botao">Redefinir</button>

        <p class="link">
          Ainda não é cadastrado? <a routerLink="/cadastrar">Cadastrar</a>
        </p>
        <p class="link">Faça <a routerLink="/login">login</a></p>
      </div>
    </form>
  </div>
</div>
