<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
  <title>Header Component</title>
</head>
<body>

  <header class="header" id="header">

    <div class="header__container">
       <a href="#" class="header__logo">
          <i class="ri-wallet-3-line"></i>
          <span>GestFinancas</span>
       </a>

       <button class="header__toggle" id="header-toggle">
          <i class="ri-menu-line"></i>
       </button>
    </div>
  </header>
  <script>
    // Seleciona o botão de alternância e o cabeçalho
    const headerToggle = document.getElementById('header-toggle');
    const header = document.getElementById('header');

    // Adiciona um evento de clique ao botão de alternância
    headerToggle.addEventListener('click', () => {
      // Alterna a classe 'show-header' no cabeçalho
      header.classList.toggle('show-header');
    });

    </script>
</body>
</html>
