<div class="container">
  <div class="imagem">
    <img src="../../../../assets/Styles/img/Mobile-login-Cristina.jpg" />
  </div>

  <div class="form-container">
    <h1 class="titulo">Bem-Vindo</h1>
    <h3 class="subtitulo">Efetue o seu login</h3>
    <!-- Formulário -->
    <form (ngSubmit)="onsubmit()" [formGroup]="formLogin" #formDir="ngForm">
      <div class="formulario">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            placeholder="seuEmail@gmail.com"
            required
          />
        </div>
        <div
          *ngIf="email.invalid && email.touched"
          class="erro-validacao"
          required
        >
          <p *ngIf="email.errors?.['required']">Preencha com o seu email</p>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <br />
          <input
            type="password"
            id="password"
            name="password"
            formControlName="senha"
            placeholder="********"
            required
          />
        </div>
        <div
          *ngIf="senha.invalid && formDir.submitted"
          class="erro-validacao"
          required
        >
          <p *ngIf="formLogin.get('senha')?.errors?.['required']">
            Informe sua senha
          </p>
        </div>

        <button type="submit" class="botao">Login</button>

        <div class="link">
          <p>
            Ainda não é cadastrado? <a routerLink="/cadastrar"> Cadastrar</a>
          </p>

          <p class="reset">
            <a routerLink="/esqueceuSenha">Esqueceu a senha?</a>
          </p>
        </div>
      </div>
    </form>
    {{ formLogin.value | json }}
  </div>
</div>
