<div class="container">
  <div class="imagem">
    <img src="../../../../assets/Styles/img/registerImage.png" />
  </div>

  <div class="form-container">
    <h1 class="titulo">Efetue o seu cadastro</h1>
    <h3 class="subtitulo">Preencha os seguintes campos</h3>
    <!-- Formulário -->
    <form (ngSubmit)="onSubmit()" [formGroup]="formRegister" #formDir="ngForm">
      <div class="formulario">
        <div class="form-group">
          <label for="name">Nome:</label>
          <br />
          <input
            type="text"
            id="name"
            name="nome"
            formControlName="nome"
            placeholder="Digite o seu nome"
            required
          />
        </div>
        <div
          *ngIf="nome.invalid && formDir.submitted"
          class="erro-validacao"
          required
        >
          <p *ngIf="formRegister.get('nome')?.errors?.['required']">
            Preencha com o seu nome
          </p>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <br />
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            placeholder="seuEmail@gmail.com"
            required
          />
        </div>
        <div
          *ngIf="email.invalid && formDir.submitted"
          class="erro-validacao"
          required
        >
          <p *ngIf="formRegister.get('email')?.errors?.['required']">
            Preencha com o seu email
          </p>
          <p *ngIf="formRegister.get('email')?.errors?.['email']">
            Informe um e-mail válido
          </p>
        </div>

        <div class="form-group">
          <label for="password">Senha:</label>
          <br />
          <input
            type="password"
            id="password"
            name="password"
            formControlName="senha"
            placeholder="********"
            required
          />
        </div>
        <div
          *ngIf="senha.invalid && formDir.submitted"
          class="erro-validacao"
          required
        >
          <p *ngIf="formRegister.get('senha')?.errors?.['required']">
            Informe uma senha
          </p>
        </div>

        <button type="submit" class="botao" (click)="cadastrar()">
          Cadastrar
        </button>

        <p class="link">
          Já possui uma conta? Faça <a routerLink="/login">Login</a>
        </p>
      </div>

      {{--
      <div
        *ngIf="formDir.submitted && formRegister.invalid"
        class="erro-validacao"
      >
        <p *ngIf="formRegister.get('nome')?.errors?.['required']">
          Preencha com o seu nome
        </p>
        <p *ngIf="formRegister.get('email')?.errors?.['required']">
          Preencha com o seu email
        </p>
        <p *ngIf="formRegister.get('email')?.errors?.['email']">
          Informe um e-mail válido
        </p>
        <p *ngIf="formRegister.get('senha')?.errors?.['required']">
          Informe uma senha
        </p>
      </div>
      --}}
    </form>

    {{ nome.value }}<br>
    {{ email.value }}<br>
    {{ senha.value }}
  </div>
</div>
